/* CDN:
http://dev.jufist.org/scsstocss/compiled/1525857324-5af2bc2c02f93.css
. Saved and compiled at http://dev.jufist.org/scsstocss/1525857324-5af2bc2c02f93 */
/* TODO: THIS CSS SHOULD ENABLED WITH A SETTING */
/* line 3, ../in/1525857324-5af2bc2c02f93.scss */
.field-collection-tabs { border: none; }
/* line 5, ../in/1525857324-5af2bc2c02f93.scss */
.field-collection-tabs .ui-corner-all, .field-collection-tabs .ui-corner-top, .field-collection-tabs .ui-corner-left, .field-collection-tabs .ui-corner-right, .field-collection-tabs .ui-corner-bottom { border: none; }
/* line 12, ../in/1525857324-5af2bc2c02f93.scss */
.field-collection-tabs.ui-tabs .ui-tabs-nav li { background: none !important; }

/* END. Saved and compiled at http://dev.jufist.org/scsstocss/1525857324-5af2bc2c02f93 */
